:root {
    --dark-green: #408F4E;
    --light-green: #57db6d;
    --dark-blue: #24718F;
    --light-blue: #42B0DB;
    --red-orange: #DB6E4C;
    --black: #202020;
    --white: #F0F0F0;
}

body {
    background-color: var(--white);
    margin: 0;
}